{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow p-4" style="width: 100%; max-width: 600px;">
            <div class="card-body">
                <h1>Reset your password</h1>

                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-primary">Reset password</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
